[submodule "submodule/lury-lexer"]
	path = submodule/lury-lexer
	url = git@github.com:lury-lang/lury-lexer.git
[submodule "submodule/compiler-base"]
	path = submodule/compiler-base
	url = git@github.com:lury-lang/compiler-base.git
